<div class="col-md-6 offset-md-3 text-center">
    <h3 class="text-center">Encuesta</h3>
    <form (ngSubmit)="onSubmit()" #encuestadoForm = "ngForm">
        <div class="form-group">
            <label>Estilo Musical</label>
            <select class="form-control"
                    id="estilo-musical"
                    [(ngModel)]="selectedValue"
                    >
                <option *ngFor="let estilo of estilos;"
                        [ngValue]="estilo">
                    {{estilo.estiloNombre}}
                </option>
            </select>
        </div>
        <div class="form-group">
            <label>Correo Electrónico</label>
            <input type="email"
                   class="form-control"
                   id="email"
                   [(ngModel)]="encuestado.email"
                   name="email"
                   pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}"
                   required
                   placeholder=""
                   #email = "ngModel"
            >
            <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
                <div *ngIf="email.errors?.['required']">
                    Por favor ingrese su email
                </div>
                <div *ngIf="email.errors?.['pattern']">
                    Ingrese su email con el formato: ejemplo@correo.com
                </div>
            </div>
        </div>
        <button class="btn btn-success" [disabled]="!encuestadoForm.form.valid">Guardar</button>
    </form>
</div>
